<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>about</title>
</head>

<body>

	<section>

		<div class="card mr-3 ml-3 " th:if=" ${contact}">

			<div class="card-body">

				<div class="container text-center">

					<img style="width: 200px; height: 200px;" class="my_profile_picture"
						th:src="@{'/img/'+${contact.image}}" alt="" />

					<h3> <span th:text="${contact.name}"></span>( <span th:text="${contact.secondName}"></span>)</h3>

					<!--information show in the table format-->
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#Id</th>
								<th scope="col" th:text="${contact.cid}"></th>
								
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Email</th>
								<td th:text="${contact.email}"></td>
							</tr>
							<tr>
								<th scope="row">Phone</th>
								<td th:text="${contact.phone}"></td>
							</tr>
							<tr>
								<th scope="row">Work</th>
								<td th:text="${contact.work}"></td>
							</tr>

						</tbody>
					</table>

					<div class="description">
						<th:block th:utext="${contact.description}"></th:block>
					</div>

				</div>

				<div class="container mt-3">
					<a class="btn btn-danger btn-sm btn-block"  th:href="@{'/user/delete/'+${contact.cid}}">Delete</a>
					<a class="btn btn-primary btn-sm btn-block" >Update</a>
				</div>


			</div>


		</div>

		<h1 class="text-center bg-danger  p-3 text-white" th:unless="${contact}">you don't have permission to see this contact...</h1>








	</section>

</body>

</html>>